#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=
Exec=bash -c 'set -euo pipefail; URL="https://raw.githubusercontent.com/OldUnreal/FullGameInstallers/master/Linux/install-ut99.sh"; { if command -v curl &>/dev/null; then curl -LSs --compressed --fail "${URL}"; elif command -v wget &>/dev/null; then wget -q "${URL}" -O -; elif command -v wget2 &>/dev/null; then wget2 -q "${URL}" -O -; fi; } | bash -s -- --application-entry=install'
GenericName=
MimeType=
Name=Install Unreal Tournament: GOTY
Path=
Terminal=true
TerminalOptions=
Type=Application
